body {
    font-family: monospace, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ccc;
}

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: right;
    margin: 10px;
}

#app {
    margin: 0 20px 0 20px;
}

#money {
    min-width: 100px;
    max-width: 300px;
    font-size: 18px;
    padding: 10px;
}

.fab {
    color: tomato;
}

a {
    text-decoration: none;
    color:  tomato;
}